*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #2b3252;
    min-width: 300px;
}

.textField{
    background-color: white;
    border: none;
    padding: 0.25em;
    color: #2b3252;
    height: 15px;
    display: inline-block;
}
#calculation{
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    width: 70%;
    margin-right: 5px;
}
#result{
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    width: 20%;
    margin-left: 5px;
}

.inputButton{
    margin: 0.5rem;
    max-width: 90%;
}

.rowField{
    display: flex;
    justify-content: space-between;
}

.small, .medium, .large {
    margin: 0.2rem;
    background-color: #fce77d;
    border: none;
    border-radius: 2em;
    color: #2b3252;
}

.small:hover, .medium:hover, .large:hover{
    background-color: #ef5455;
}

.small{
    width: 33%;
}

.medium{
    width: 100%;
}

.large{
    width: 100%;
}