body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: silver;
}


form{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    padding: 50px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    
}

.form input[type=email], input[type=password],input[type=ID]{
    border: 0;
    background: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(48, 62, 73);;
    padding: 12px 10px;
    width: 220px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25px;
}

.form input[type=email]:focus,.form input[type=password]:focus, .form input[type=ID]:focus{
    width: 270px;
    border-color: #2f00ffec;
}


button{

    border: 0;
    background: 0;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 12px 10px;
    width: 100px;
    background-color: rgb(48, 62, 73);
    outline: none;
    color:whitesmoke;
    border-radius: 24px;
    cursor: pointer;
}

button:hover{
    background-color: #2f00ffec;
}


#error-msg{
    margin-top: 0;
    text-align: center;
    padding-top: 0;
    color: red;
}

#create_account{
    text-align: center;
}